@import url('normalize.css');
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);
body {
	font-family: 'Roboto', sans-serif;
}
.light {
	font-weight: normal;
}
.not-found {
	margin: 10px;
}
.main-fm {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.welcome-box {
	overflow: hidden;
	min-width: 250px;
	max-width: 750px;
	margin: 0 auto;
	margin-top: 100px;
	margin-bottom: 100px;
	color: #555555;
}
.welcome-box > table {
	margin: 0 auto;
	background: #f1f1f1;
}
th {
	padding: 10px 20px;
	background: #e1e1e1;
}
td {
	padding: 10px 20px;
}
hr {
	border-style: none;
	height: 3px;
	background: #e1e1e1;	
}
pre {
	margin: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}
.light.title {
	border-left: solid 3px #e1e1e1;
	padding-left: 10px;
}